In [2]:
import pandas as pd 
data = pd.read_csv("Automobile_data.csv")
data.head()

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

### Looping through Rows

In [3]:
for index,row in data.iterrows():
    print(index, row["company"], row["length"])

0 alfa-romero 168.8
1 alfa-romero 168.8
2 alfa-romero 171.2
3 audi 176.6
4 audi 176.6
5 audi 177.3
6 audi 192.7
7 bmw 176.8
8 bmw 176.8
9 bmw 176.8
10 bmw 189.0
11 bmw 193.8
12 bmw 197.0
13 chevrolet 141.1
14 chevrolet 155.9
15 chevrolet 158.8
16 dodge 157.3
17 dodge 157.3
18 honda 157.1
19 honda 175.4
20 honda 169.1
21 isuzu 170.7
22 isuzu 155.9
23 isuzu 155.9
24 jaguar 199.6
25 jaguar 199.6
26 jaguar 191.7
27 mazda 159.1
28 mazda 159.1
29 mazda 159.1
30 mazda 169.0
31 mazda 175.0
32 mercedes-benz 190.9
33 mercedes-benz 190.9
34 mercedes-benz 208.1
35 mercedes-benz 199.2
36 mitsubishi 157.3
37 mitsubishi 157.3
38 mitsubishi 172.4
39 mitsubishi 172.4
40 nissan 165.3
41 nissan 165.3
42 nissan 165.3
43 nissan 170.2
44 nissan 184.6
45 porsche 168.9
46 porsche 168.9
47 porsche 175.7
48 toyota 158.7
49 toyota 158.7
50 toyota 158.7
51 toyota 169.7
52 toyota 169.7
53 toyota 169.7
54 toyota 187.8
55 volkswagen 171.7
56 volkswagen 171.7
57 volkswagen 171.7
58 volkswagen 171.7
59 volvo 188.8
60 volvo 188.8

In [7]:
for group_key, group in data.groupby(['body-style']):
    print(group_key)
    print('------------------')
    print(group)
    print('==================\n')

convertible
------------------
    index      company   body-style  wheel-base  length engine-type  \
0       0  alfa-romero  convertible        88.6   168.8        dohc
1       1  alfa-romero  convertible        88.6   168.8        dohc
46     62      porsche  convertible        89.5   168.9        ohcf

   num-of-cylinders  horsepower  average-mileage    price
0              four         111               21  13495.0
1              four         111               21  16500.0
46              six         207               17  37028.0
==================

hardtop
------------------
    index        company body-style  wheel-base  length engine-type  \
35     47  mercedes-benz    hardtop       112.0   199.2        ohcv
45     61        porsche    hardtop        89.5   168.9        ohcf

   num-of-cylinders  horsepower  average-mileage    price
35            eight         184               14  45400.0
45              six         207               17  34028.0
==================

hatchback
------------------
    index      company body-style  wheel-base  length engine-type  \
2       2  alfa-romero  hatchback        94.5   171.2        ohcv
13     16    chevrolet  hatchback        88.4   141.1           l
14     17    chevrolet  hatchback        94.5   155.9         ohc
16     19        dodge  hatchback        93.7   157.3         ohc
17     20        dodge  hatchback        93.7   157.3         ohc
27     36        mazda  hatchback        93.1   159.1         ohc
28     37        mazda  hatchback        93.1   159.1         ohc
29     38        mazda  hatchback        93.1   159.1         ohc
30     39        mazda  hatchback        95.3   169.0       rotor
36     49   mitsubishi  hatchback        93.7   157.3         ohc
37     50   mitsubishi  hatchback        93.7   157.3         ohc
47     63      porsche  hatchback        98.4   175.7       dohcv
48     66       toyota  hatchback        95.7   158.7         ohc
49     67       toyota  hatchback        95.7   158.7         ohc
50     68       toyota  hatchback        95.7   158.7         ohc

   num-of-cylinders  horsepower  average-mileage    price
2               six         154               19  16500.0
13            three          48               47   5151.0
14             four          70               38   6295.0
16             four          68               31   6377.0
17             four          68               31   6229.0
27             four          68               30   5195.0
28             four          68               31   6095.0
29             four          68               31   6795.0
30              two         101               17  11845.0
36             four          68               37   5389.0
37             four          68               31   6189.0
47            eight         288               17      NaN
48             four          62               35   5348.0
49             four          62               31   6338.0
50             four          62               31   6488.0
==================

sedan
------------------
    index        company body-style  wheel-base  length engine-type  \
3       3           audi      sedan        99.8   176.6         ohc
4       4           audi      sedan        99.4   176.6         ohc
5       5           audi      sedan        99.8   177.3         ohc
7       9            bmw      sedan       101.2   176.8         ohc
8      10            bmw      sedan       101.2   176.8         ohc
9      11            bmw      sedan       101.2   176.8         ohc
10     13            bmw      sedan       103.5   189.0         ohc
11     14            bmw      sedan       103.5   193.8         ohc
12     15            bmw      sedan       110.0   197.0         ohc
15     18      chevrolet      sedan        94.5   158.8         ohc
19     28          honda      sedan        96.5   175.4         ohc
20     29          honda      sedan        96.5   169.1         ohc
21     30          isuzu      sedan        94.3   170.7         ohc
22     31          isuzu      sedan        94.5   155.9         ohc
23     32          isuzu      sedan        94.5   155.9         ohc
24     33         jaguar      sedan       113.0   199.6        dohc
25     34         jaguar      sedan       113.0   199.6        dohc
26     35         jaguar      sedan       102.0   191.7        ohcv
31     43          mazda      sedan       104.9   175.0         ohc
32     44  mercedes-benz      sedan       110.0   190.9         ohc
34     46  mercedes-benz      sedan       120.9   208.1        ohcv
38     51     mitsubishi      sedan        96.3   172.4         ohc
39     52     mitsubishi      sedan        96.3   172.4         ohc
40     53         nissan      sedan        94.5   165.3         ohc
41     54         nissan      sedan        94.5   165.3         ohc
42     55         nissan      sedan        94.5   165.3         ohc
44     57         nissan      sedan       100.4   184.6        ohcv
55     80     volkswagen      sedan        97.3   171.7         ohc
56     81     volkswagen      sedan        97.3   171.7         ohc
57     82     volkswagen      sedan        97.3   171.7         ohc
58     86     volkswagen      sedan        97.3   171.7         ohc
59     87          volvo      sedan       104.3   188.8         ohc

   num-of-cylinders  horsepower  average-mileage    price
3              four         102               24  13950.0
4              five         115               18  17450.0
5              five         110               19  15250.0
7              four         101               23  16430.0
8              four         101               23  16925.0
9               six         121               21  20970.0
10              six         182               16  30760.0
11              six         182               16  41315.0
12              six         182               15  36880.0
15             four          70               38   6575.0
19             four         101               24  12945.0
20             four         100               25  10345.0
21             four          78               24   6785.0
22             four          70               38      NaN
23             four          70               38      NaN
24              six         176               15  32250.0
25              six         176               15  35550.0
26           twelve         262               13  36000.0
31             four          72               31  18344.0
32             five         123               22  25552.0
34            eight         184               14  40960.0
38             four          88               25   6989.0
39             four          88               25   8189.0
40             four          55               45   7099.0
41             four          69               31   6649.0
42             four          69               31   6849.0
44              six         152               19  13499.0
55             four          52               37   7775.0
56             four          85               27   7975.0
57             four          52               37   7995.0
58             four         100               26   9995.0
59             four         114               23  12940.0
==================

wagon
------------------
    index        company body-style  wheel-base  length engine-type  \
6       6           audi      wagon       105.8   192.7         ohc
18     27          honda      wagon        96.5   157.1         ohc
33     45  mercedes-benz      wagon       110.0   190.9         ohc
43     56         nissan      wagon        94.5   170.2         ohc
51     69         toyota      wagon        95.7   169.7         ohc
52     70         toyota      wagon        95.7   169.7         ohc
53     71         toyota      wagon        95.7   169.7         ohc
54     79         toyota      wagon       104.5   187.8        dohc
60     88          volvo      wagon       104.3   188.8         ohc

   num-of-cylinders  horsepower  average-mileage    price
6              five         110               19  18920.0
18             four          76               30   7295.0
33             five         123               22  28248.0
43             four          69               31   7349.0
51             four          62               31   6918.0
52             four          62               27   7898.0
53             four          62               27   8778.0
54              six         156               19  15750.0
60             four         114               23  13415.0
==================

### Looping through Group

In [10]:
for group_key, group in data.groupby(['body-style', 'company']):
    print(group_key)
    print('------------------')
    print(group)
    print('==================\n')

('convertible', 'alfa-romero')
------------------
   index      company   body-style  wheel-base  length engine-type  \
0      0  alfa-romero  convertible        88.6   168.8        dohc
1      1  alfa-romero  convertible        88.6   168.8        dohc

  num-of-cylinders  horsepower  average-mileage    price
0             four         111               21  13495.0
1             four         111               21  16500.0
==================

('convertible', 'porsche')
------------------
    index  company   body-style  wheel-base  length engine-type  \
46     62  porsche  convertible        89.5   168.9        ohcf

   num-of-cylinders  horsepower  average-mileage    price
46              six         207               17  37028.0
==================

('hardtop', 'mercedes-benz')
------------------
    index        company body-style  wheel-base  length engine-type  \
35     47  mercedes-benz    hardtop       112.0   199.2        ohcv

   num-of-cylinders  horsepower  average-mileage    price
35            eight         184               14  45400.0
==================

('hardtop', 'porsche')
------------------
    index  company body-style  wheel-base  length engine-type  \
45     61  porsche    hardtop        89.5   168.9        ohcf

   num-of-cylinders  horsepower  average-mileage    price
45              six         207               17  34028.0
==================

('hatchback', 'alfa-romero')
------------------
   index      company body-style  wheel-base  length engine-type  \
2      2  alfa-romero  hatchback        94.5   171.2        ohcv

  num-of-cylinders  horsepower  average-mileage    price
2              six         154               19  16500.0
==================

('hatchback', 'chevrolet')
------------------
    index    company body-style  wheel-base  length engine-type  \
13     16  chevrolet  hatchback        88.4   141.1           l
14     17  chevrolet  hatchback        94.5   155.9         ohc

   num-of-cylinders  horsepower  average-mileage   price
13            three          48               47  5151.0
14             four          70               38  6295.0
==================

('hatchback', 'dodge')
------------------
    index company body-style  wheel-base  length engine-type num-of-cylinders  \
16     19   dodge  hatchback        93.7   157.3         ohc             four
17     20   dodge  hatchback        93.7   157.3         ohc             four

    horsepower  average-mileage   price
16          68               31  6377.0
17          68               31  6229.0
==================

('hatchback', 'mazda')
------------------
    index company body-style  wheel-base  length engine-type num-of-cylinders  \
27     36   mazda  hatchback        93.1   159.1         ohc             four
28     37   mazda  hatchback        93.1   159.1         ohc             four
29     38   mazda  hatchback        93.1   159.1         ohc             four
30     39   mazda  hatchback        95.3   169.0       rotor              two

    horsepower  average-mileage    price
27          68               30   5195.0
28          68               31   6095.0
29          68               31   6795.0
30         101               17  11845.0
==================

('hatchback', 'mitsubishi')
------------------
    index     company body-style  wheel-base  length engine-type  \
36     49  mitsubishi  hatchback        93.7   157.3         ohc
37     50  mitsubishi  hatchback        93.7   157.3         ohc

   num-of-cylinders  horsepower  average-mileage   price
36             four          68               37  5389.0
37             four          68               31  6189.0
==================

('hatchback', 'porsche')
------------------
    index  company body-style  wheel-base  length engine-type  \
47     63  porsche  hatchback        98.4   175.7       dohcv

   num-of-cylinders  horsepower  average-mileage  price
47            eight         288               17    NaN
==================

('hatchback', 'toyota')
------------------
    index company body-style  wheel-base  length engine-type num-of-cylinders  \
48     66  toyota  hatchback        95.7   158.7         ohc             four
49     67  toyota  hatchback        95.7   158.7         ohc             four
50     68  toyota  hatchback        95.7   158.7         ohc             four

    horsepower  average-mileage   price
48          62               35  5348.0
49          62               31  6338.0
50          62               31  6488.0
==================

('sedan', 'audi')
------------------
   index company body-style  wheel-base  length engine-type num-of-cylinders  \
3      3    audi      sedan        99.8   176.6         ohc             four
4      4    audi      sedan        99.4   176.6         ohc             five
5      5    audi      sedan        99.8   177.3         ohc             five

   horsepower  average-mileage    price
3         102               24  13950.0
4         115               18  17450.0
5         110               19  15250.0
==================

('sedan', 'bmw')
------------------
    index company body-style  wheel-base  length engine-type num-of-cylinders  \
7       9     bmw      sedan       101.2   176.8         ohc             four
8      10     bmw      sedan       101.2   176.8         ohc             four
9      11     bmw      sedan       101.2   176.8         ohc              six
10     13     bmw      sedan       103.5   189.0         ohc              six
11     14     bmw      sedan       103.5   193.8         ohc              six
12     15     bmw      sedan       110.0   197.0         ohc              six

    horsepower  average-mileage    price
7          101               23  16430.0
8          101               23  16925.0
9          121               21  20970.0
10         182               16  30760.0
11         182               16  41315.0
12         182               15  36880.0
==================

('sedan', 'chevrolet')
------------------
    index    company body-style  wheel-base  length engine-type  \
15     18  chevrolet      sedan        94.5   158.8         ohc

   num-of-cylinders  horsepower  average-mileage   price
15             four          70               38  6575.0
==================

('sedan', 'honda')
------------------
    index company body-style  wheel-base  length engine-type num-of-cylinders  \
19     28   honda      sedan        96.5   175.4         ohc             four
20     29   honda      sedan        96.5   169.1         ohc             four

    horsepower  average-mileage    price
19         101               24  12945.0
20         100               25  10345.0
==================

('sedan', 'isuzu')
------------------
    index company body-style  wheel-base  length engine-type num-of-cylinders  \
21     30   isuzu      sedan        94.3   170.7         ohc             four
22     31   isuzu      sedan        94.5   155.9         ohc             four
23     32   isuzu      sedan        94.5   155.9         ohc             four

    horsepower  average-mileage   price
21          78               24  6785.0
22          70               38     NaN
23          70               38     NaN
==================

('sedan', 'jaguar')
------------------
    index company body-style  wheel-base  length engine-type num-of-cylinders  \
24     33  jaguar      sedan       113.0   199.6        dohc              six
25     34  jaguar      sedan       113.0   199.6        dohc              six
26     35  jaguar      sedan       102.0   191.7        ohcv           twelve

    horsepower  average-mileage    price
24         176               15  32250.0
25         176               15  35550.0
26         262               13  36000.0
==================

('sedan', 'mazda')
------------------
    index company body-style  wheel-base  length engine-type num-of-cylinders  \
31     43   mazda      sedan       104.9   175.0         ohc             four

    horsepower  average-mileage    price
31          72               31  18344.0
==================

('sedan', 'mercedes-benz')
------------------
    index        company body-style  wheel-base  length engine-type  \
32     44  mercedes-benz      sedan       110.0   190.9         ohc
34     46  mercedes-benz      sedan       120.9   208.1        ohcv

   num-of-cylinders  horsepower  average-mileage    price
32             five         123               22  25552.0
34            eight         184               14  40960.0
==================

('sedan', 'mitsubishi')
------------------
    index     company body-style  wheel-base  length engine-type  \
38     51  mitsubishi      sedan        96.3   172.4         ohc
39     52  mitsubishi      sedan        96.3   172.4         ohc

   num-of-cylinders  horsepower  average-mileage   price
38             four          88               25  6989.0
39             four          88               25  8189.0
==================

('sedan', 'nissan')
------------------
    index company body-style  wheel-base  length engine-type num-of-cylinders  \
40     53  nissan      sedan        94.5   165.3         ohc             four
41     54  nissan      sedan        94.5   165.3         ohc             four
42     55  nissan      sedan        94.5   165.3         ohc             four
44     57  nissan      sedan       100.4   184.6        ohcv              six

    horsepower  average-mileage    price
40          55               45   7099.0
41          69               31   6649.0
42          69               31   6849.0
44         152               19  13499.0
==================

('sedan', 'volkswagen')
------------------
    index     company body-style  wheel-base  length engine-type  \
55     80  volkswagen      sedan        97.3   171.7         ohc
56     81  volkswagen      sedan        97.3   171.7         ohc
57     82  volkswagen      sedan        97.3   171.7         ohc
58     86  volkswagen      sedan        97.3   171.7         ohc

   num-of-cylinders  horsepower  average-mileage   price
55             four          52               37  7775.0
56             four          85               27  7975.0
57             four          52               37  7995.0
58             four         100               26  9995.0
==================

('sedan', 'volvo')
------------------
    index company body-style  wheel-base  length engine-type num-of-cylinders  \
59     87   volvo      sedan       104.3   188.8         ohc             four

    horsepower  average-mileage    price
59         114               23  12940.0
==================

('wagon', 'audi')
------------------
   index company body-style  wheel-base  length engine-type num-of-cylinders  \
6      6    audi      wagon       105.8   192.7         ohc             five

   horsepower  average-mileage    price
6         110               19  18920.0
==================

('wagon', 'honda')
------------------
    index company body-style  wheel-base  length engine-type num-of-cylinders  \
18     27   honda      wagon        96.5   157.1         ohc             four

    horsepower  average-mileage   price
18          76               30  7295.0
==================

('wagon', 'mercedes-benz')
------------------
    index        company body-style  wheel-base  length engine-type  \
33     45  mercedes-benz      wagon       110.0   190.9         ohc

   num-of-cylinders  horsepower  average-mileage    price
33             five         123               22  28248.0
==================

('wagon', 'nissan')
------------------
    index company body-style  wheel-base  length engine-type num-of-cylinders  \
43     56  nissan      wagon        94.5   170.2         ohc             four

    horsepower  average-mileage   price
43          69               31  7349.0
==================

('wagon', 'toyota')
------------------
    index company body-style  wheel-base  length engine-type num-of-cylinders  \
51     69  toyota      wagon        95.7   169.7         ohc             four
52     70  toyota      wagon        95.7   169.7         ohc             four
53     71  toyota      wagon        95.7   169.7         ohc             four
54     79  toyota      wagon       104.5   187.8        dohc              six

    horsepower  average-mileage    price
51          62               31   6918.0
52          62               27   7898.0
53          62               27   8778.0
54         156               19  15750.0
==================

('wagon', 'volvo')
------------------
    index company body-style  wheel-base  length engine-type num-of-cylinders  \
60     88   volvo      wagon       104.3   188.8         ohc             four

    horsepower  average-mileage    price
60         114               23  13415.0
==================

### Looping through Group by with more than two columns

In [11]:
for group_key, group in data.groupby(['body-style', 'company']):
    print(group_key)
    print('------------------')
    print(group)
    print('==================\n')

('convertible', 'alfa-romero')
------------------
   index      company   body-style  wheel-base  length engine-type  \
0      0  alfa-romero  convertible        88.6   168.8        dohc
1      1  alfa-romero  convertible        88.6   168.8        dohc

  num-of-cylinders  horsepower  average-mileage    price
0             four         111               21  13495.0
1             four         111               21  16500.0
==================

('convertible', 'porsche')
------------------
    index  company   body-style  wheel-base  length engine-type  \
46     62  porsche  convertible        89.5   168.9        ohcf

   num-of-cylinders  horsepower  average-mileage    price
46              six         207               17  37028.0
==================

('hardtop', 'mercedes-benz')
------------------
    index        company body-style  wheel-base  length engine-type  \
35     47  mercedes-benz    hardtop       112.0   199.2        ohcv

   num-of-cylinders  horsepower  average-mileage    price
35            eight         184               14  45400.0
==================

('hardtop', 'porsche')
------------------
    index  company body-style  wheel-base  length engine-type  \
45     61  porsche    hardtop        89.5   168.9        ohcf

   num-of-cylinders  horsepower  average-mileage    price
45              six         207               17  34028.0
==================

('hatchback', 'alfa-romero')
------------------
   index      company body-style  wheel-base  length engine-type  \
2      2  alfa-romero  hatchback        94.5   171.2        ohcv

  num-of-cylinders  horsepower  average-mileage    price
2              six         154               19  16500.0
==================

('hatchback', 'chevrolet')
------------------
    index    company body-style  wheel-base  length engine-type  \
13     16  chevrolet  hatchback        88.4   141.1           l
14     17  chevrolet  hatchback        94.5   155.9         ohc

   num-of-cylinders  horsepower  average-mileage   price
13            three          48               47  5151.0
14             four          70               38  6295.0
==================

('hatchback', 'dodge')
------------------
    index company body-style  wheel-base  length engine-type num-of-cylinders  \
16     19   dodge  hatchback        93.7   157.3         ohc             four
17     20   dodge  hatchback        93.7   157.3         ohc             four

    horsepower  average-mileage   price
16          68               31  6377.0
17          68               31  6229.0
==================

('hatchback', 'mazda')
------------------
    index company body-style  wheel-base  length engine-type num-of-cylinders  \
27     36   mazda  hatchback        93.1   159.1         ohc             four
28     37   mazda  hatchback        93.1   159.1         ohc             four
29     38   mazda  hatchback        93.1   159.1         ohc             four
30     39   mazda  hatchback        95.3   169.0       rotor              two

    horsepower  average-mileage    price
27          68               30   5195.0
28          68               31   6095.0
29          68               31   6795.0
30         101               17  11845.0
==================

('hatchback', 'mitsubishi')
------------------
    index     company body-style  wheel-base  length engine-type  \
36     49  mitsubishi  hatchback        93.7   157.3         ohc
37     50  mitsubishi  hatchback        93.7   157.3         ohc

   num-of-cylinders  horsepower  average-mileage   price
36             four          68               37  5389.0
37             four          68               31  6189.0
==================

('hatchback', 'porsche')
------------------
    index  company body-style  wheel-base  length engine-type  \
47     63  porsche  hatchback        98.4   175.7       dohcv

   num-of-cylinders  horsepower  average-mileage  price
47            eight         288               17    NaN
==================

('hatchback', 'toyota')
------------------
    index company body-style  wheel-base  length engine-type num-of-cylinders  \
48     66  toyota  hatchback        95.7   158.7         ohc             four
49     67  toyota  hatchback        95.7   158.7         ohc             four
50     68  toyota  hatchback        95.7   158.7         ohc             four

    horsepower  average-mileage   price
48          62               35  5348.0
49          62               31  6338.0
50          62               31  6488.0
==================

('sedan', 'audi')
------------------
   index company body-style  wheel-base  length engine-type num-of-cylinders  \
3      3    audi      sedan        99.8   176.6         ohc             four
4      4    audi      sedan        99.4   176.6         ohc             five
5      5    audi      sedan        99.8   177.3         ohc             five

   horsepower  average-mileage    price
3         102               24  13950.0
4         115               18  17450.0
5         110               19  15250.0
==================

('sedan', 'bmw')
------------------
    index company body-style  wheel-base  length engine-type num-of-cylinders  \
7       9     bmw      sedan       101.2   176.8         ohc             four
8      10     bmw      sedan       101.2   176.8         ohc             four
9      11     bmw      sedan       101.2   176.8         ohc              six
10     13     bmw      sedan       103.5   189.0         ohc              six
11     14     bmw      sedan       103.5   193.8         ohc              six
12     15     bmw      sedan       110.0   197.0         ohc              six

    horsepower  average-mileage    price
7          101               23  16430.0
8          101               23  16925.0
9          121               21  20970.0
10         182               16  30760.0
11         182               16  41315.0
12         182               15  36880.0
==================

('sedan', 'chevrolet')
------------------
    index    company body-style  wheel-base  length engine-type  \
15     18  chevrolet      sedan        94.5   158.8         ohc

   num-of-cylinders  horsepower  average-mileage   price
15             four          70               38  6575.0
==================

('sedan', 'honda')
------------------
    index company body-style  wheel-base  length engine-type num-of-cylinders  \
19     28   honda      sedan        96.5   175.4         ohc             four
20     29   honda      sedan        96.5   169.1         ohc             four

    horsepower  average-mileage    price
19         101               24  12945.0
20         100               25  10345.0
==================

('sedan', 'isuzu')
------------------
    index company body-style  wheel-base  length engine-type num-of-cylinders  \
21     30   isuzu      sedan        94.3   170.7         ohc             four
22     31   isuzu      sedan        94.5   155.9         ohc             four
23     32   isuzu      sedan        94.5   155.9         ohc             four

    horsepower  average-mileage   price
21          78               24  6785.0
22          70               38     NaN
23          70               38     NaN
==================

('sedan', 'jaguar')
------------------
    index company body-style  wheel-base  length engine-type num-of-cylinders  \
24     33  jaguar      sedan       113.0   199.6        dohc              six
25     34  jaguar      sedan       113.0   199.6        dohc              six
26     35  jaguar      sedan       102.0   191.7        ohcv           twelve

    horsepower  average-mileage    price
24         176               15  32250.0
25         176               15  35550.0
26         262               13  36000.0
==================

('sedan', 'mazda')
------------------
    index company body-style  wheel-base  length engine-type num-of-cylinders  \
31     43   mazda      sedan       104.9   175.0         ohc             four

    horsepower  average-mileage    price
31          72               31  18344.0
==================

('sedan', 'mercedes-benz')
------------------
    index        company body-style  wheel-base  length engine-type  \
32     44  mercedes-benz      sedan       110.0   190.9         ohc
34     46  mercedes-benz      sedan       120.9   208.1        ohcv

   num-of-cylinders  horsepower  average-mileage    price
32             five         123               22  25552.0
34            eight         184               14  40960.0
==================

('sedan', 'mitsubishi')
------------------
    index     company body-style  wheel-base  length engine-type  \
38     51  mitsubishi      sedan        96.3   172.4         ohc
39     52  mitsubishi      sedan        96.3   172.4         ohc

   num-of-cylinders  horsepower  average-mileage   price
38             four          88               25  6989.0
39             four          88               25  8189.0
==================

('sedan', 'nissan')
------------------
    index company body-style  wheel-base  length engine-type num-of-cylinders  \
40     53  nissan      sedan        94.5   165.3         ohc             four
41     54  nissan      sedan        94.5   165.3         ohc             four
42     55  nissan      sedan        94.5   165.3         ohc             four
44     57  nissan      sedan       100.4   184.6        ohcv              six

    horsepower  average-mileage    price
40          55               45   7099.0
41          69               31   6649.0
42          69               31   6849.0
44         152               19  13499.0
==================

('sedan', 'volkswagen')
------------------
    index     company body-style  wheel-base  length engine-type  \
55     80  volkswagen      sedan        97.3   171.7         ohc
56     81  volkswagen      sedan        97.3   171.7         ohc
57     82  volkswagen      sedan        97.3   171.7         ohc
58     86  volkswagen      sedan        97.3   171.7         ohc

   num-of-cylinders  horsepower  average-mileage   price
55             four          52               37  7775.0
56             four          85               27  7975.0
57             four          52               37  7995.0
58             four         100               26  9995.0
==================

('sedan', 'volvo')
------------------
    index company body-style  wheel-base  length engine-type num-of-cylinders  \
59     87   volvo      sedan       104.3   188.8         ohc             four

    horsepower  average-mileage    price
59         114               23  12940.0
==================

('wagon', 'audi')
------------------
   index company body-style  wheel-base  length engine-type num-of-cylinders  \
6      6    audi      wagon       105.8   192.7         ohc             five

   horsepower  average-mileage    price
6         110               19  18920.0
==================

('wagon', 'honda')
------------------
    index company body-style  wheel-base  length engine-type num-of-cylinders  \
18     27   honda      wagon        96.5   157.1         ohc             four

    horsepower  average-mileage   price
18          76               30  7295.0
==================

('wagon', 'mercedes-benz')
------------------
    index        company body-style  wheel-base  length engine-type  \
33     45  mercedes-benz      wagon       110.0   190.9         ohc

   num-of-cylinders  horsepower  average-mileage    price
33             five         123               22  28248.0
==================

('wagon', 'nissan')
------------------
    index company body-style  wheel-base  length engine-type num-of-cylinders  \
43     56  nissan      wagon        94.5   170.2         ohc             four

    horsepower  average-mileage   price
43          69               31  7349.0
==================

('wagon', 'toyota')
------------------
    index company body-style  wheel-base  length engine-type num-of-cylinders  \
51     69  toyota      wagon        95.7   169.7         ohc             four
52     70  toyota      wagon        95.7   169.7         ohc             four
53     71  toyota      wagon        95.7   169.7         ohc             four
54     79  toyota      wagon       104.5   187.8        dohc              six

    horsepower  average-mileage    price
51          62               31   6918.0
52          62               27   7898.0
53          62               27   8778.0
54         156               19  15750.0
==================

('wagon', 'volvo')
------------------
    index company body-style  wheel-base  length engine-type num-of-cylinders  \
60     88   volvo      wagon       104.3   188.8         ohc             four

    horsepower  average-mileage    price
60         114               23  13415.0
==================