In [28]:
import pandas as pd

## Reading Data

In [29]:
data = pd.read_csv("C:/Users/Shubham/Applications/Data Science/forestfires.csv")
data

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
0    7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.00
1    7  4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.00
2    7  4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.00
3    8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.00
4    8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.00
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515  1  4   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

[517 rows x 13 columns]

In [30]:
data.shape

(517, 13)

In [36]:
data.head(10)       # By Default gives top 5

   X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.0
5  8  6   aug  sun  92.3   85.3  488.0  14.7  22.2  29   5.4   0.0   0.0
6  8  6   aug  mon  92.3   88.9  495.6   8.5  24.1  27   3.1   0.0   0.0
7  8  6   aug  mon  91.5  145.4  608.2  10.7   8.0  86   2.2   0.0   0.0
8  8  6   sep  tue  91.0  129.5  692.6   7.0  13.1  63   5.4   0.0   0.0
9  7  5   sep  sat  92.5   88.0  698.6   7.1  22.8  40   4.0   0.0   0.0

In [40]:
data.tail(10)         # by default give last 5

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
507  2  4   aug  fri  91.0  166.9  752.6   7.1  25.9  41   3.6   0.0   0.00
508  1  2   aug  fri  91.0  166.9  752.6   7.1  25.9  41   3.6   0.0   0.00
509  5  4   aug  fri  91.0  166.9  752.6   7.1  21.1  71   7.6   1.4   2.17
510  6  5   aug  fri  91.0  166.9  752.6   7.1  18.2  62   5.4   0.0   0.43
511  8  6   aug  sun  81.6   56.7  665.6   1.9  27.8  35   2.7   0.0   0.00
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515  1  4   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

In [38]:
data.dtypes

X          int64
Y          int64
month     object
day       object
FFMC     float64
DMC      float64
DC       float64
ISI      float64
temp     float64
RH         int64
wind     float64
rain     float64
area     float64
dtype: object

### Conditional Selection

In [61]:
data.month == "aug"

0      False
1      False
2      False
3      False
4      False
       ...
512     True
513     True
514     True
515     True
516    False
Name: month, Length: 517, dtype: bool

In [62]:
data[data["month"]=="aug"]

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
5    8  6   aug  sun  92.3   85.3  488.0  14.7  22.2  29   5.4   0.0   0.00
6    8  6   aug  mon  92.3   88.9  495.6   8.5  24.1  27   3.1   0.0   0.00
7    8  6   aug  mon  91.5  145.4  608.2  10.7   8.0  86   2.2   0.0   0.00
12   6  5   aug  fri  63.5   70.8  665.3   0.8  17.0  72   6.7   0.0   0.00
23   7  4   aug  sat  90.2  110.9  537.4   6.2  19.5  43   5.8   0.0   0.00
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
511  8  6   aug  sun  81.6   56.7  665.6   1.9  27.8  35   2.7   0.0   0.00
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515  1  4   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00

[184 rows x 13 columns]

In [64]:
data.loc[(data.month == 'aug') & (data.day == 'sun')]

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain    area
5    8  6   aug  sun  92.3   85.3  488.0  14.7  22.2  29   5.4   0.0    0.00
25   7  4   aug  sun  91.4  142.4  601.4  10.6  16.3  60   5.4   0.0    0.00
51   4  3   aug  sun  90.2   99.6  631.2   6.3  21.5  34   2.2   0.0    0.00
63   2  2   aug  sun  90.2   99.6  631.2   6.3  20.8  33   2.7   0.0    0.00
80   1  2   aug  sun  91.4  142.4  601.4  10.6  19.5  39   6.3   0.0    0.00
81   1  2   aug  sun  90.2   99.6  631.2   6.3  17.9  44   2.2   0.0    0.00
92   8  6   aug  sun  92.3   85.3  488.0  14.7  20.8  32   6.3   0.0    0.00
93   8  6   aug  sun  91.4  142.4  601.4  10.6  18.2  43   4.9   0.0    0.00
98   3  4   aug  sun  91.4  142.4  601.4  10.6  11.6  87   4.5   0.0    0.00
99   3  4   aug  sun  91.4  142.4  601.4  10.6  19.8  39   5.4   0.0    0.00
100  3  4   aug  sun  91.4  142.4  601.4  10.6  19.8  39   5.4   0.0    0.00
107  4  5   aug  sun  90.2   99.6  631.2   6.3  21.4  33   3.1   0.0    0.00
155  7  4   aug  sun  94.8  108.3  647.1  17.0  16.4  47   1.3   0.0    1.56
172  7  4   aug  sun  91.4  142.4  601.4  10.6  20.1  39   5.4   0.0    2.74
177  2  5   aug  sun  90.2   99.6  631.2   6.3  19.2  44   2.7   0.0    4.69
220  8  6   aug  sun  90.2   99.6  631.2   6.3  16.2  59   3.1   0.0   32.07
235  8  6   aug  sun  91.4  142.4  601.4  10.6  19.6  41   5.8   0.0  196.48
242  2  4   aug  sun  94.2  122.3  589.9  12.9  15.4  66   4.0   0.0   10.13
243  7  4   aug  sun  91.8  175.1  700.7  13.8  21.9  73   7.6   1.0    0.00
244  2  4   aug  sun  91.8  175.1  700.7  13.8  22.4  54   7.6   0.0    2.87
245  3  4   aug  sun  91.8  175.1  700.7  13.8  26.8  38   6.3   0.0    0.76
246  5  4   aug  sun  91.8  175.1  700.7  13.8  25.7  39   5.4   0.0    0.09
372  4  5   aug  sun  92.0  203.2  664.5   8.1  10.4  75   0.9   0.0    0.00
385  2  4   aug  sun  91.6  181.3  613.0   7.6  20.9  50   2.2   0.0   16.00
397  5  6   aug  sun  91.6  181.3  613.0   7.6  24.3  33   3.6   0.0    3.63
414  5  4   aug  sun  93.6  235.1  723.1  10.1  24.1  50   4.0   0.0    0.00
418  2  4   aug  sun  92.0  203.2  664.5   8.1  24.9  42   5.4   0.0    2.44
419  2  5   aug  sun  91.6  181.3  613.0   7.6  24.8  36   4.0   0.0    3.05
429  3  4   aug  sun  91.6  181.3  613.0   7.6  24.6  44   4.0   0.0    3.20
433  2  4   aug  sun  93.6  235.1  723.1  10.1  20.9  66   4.9   0.0   15.34
445  5  5   aug  sun  94.0   47.9  100.7  10.7  17.3  80   4.5   0.0    0.00
446  6  5   aug  sun  92.0  203.2  664.5   8.1  19.1  70   2.2   0.0    0.00
449  7  4   aug  sun  91.6  181.3  613.0   7.6  19.3  61   4.9   0.0    0.00
482  3  4   aug  sun  94.9  130.3  587.1  14.1  23.4  40   5.8   0.0    1.29
483  8  6   aug  sun  94.9  130.3  587.1  14.1  31.0  27   5.4   0.0    0.00
484  2  5   aug  sun  94.9  130.3  587.1  14.1  33.1  25   4.0   0.0   26.43
511  8  6   aug  sun  81.6   56.7  665.6   1.9  27.8  35   2.7   0.0    0.00
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0    6.44
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0   54.29
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0   11.16

In [67]:
data.loc[data.month.isin(['aug','nov'])]

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
5    8  6   aug  sun  92.3   85.3  488.0  14.7  22.2  29   5.4   0.0   0.00
6    8  6   aug  mon  92.3   88.9  495.6   8.5  24.1  27   3.1   0.0   0.00
7    8  6   aug  mon  91.5  145.4  608.2  10.7   8.0  86   2.2   0.0   0.00
12   6  5   aug  fri  63.5   70.8  665.3   0.8  17.0  72   6.7   0.0   0.00
23   7  4   aug  sat  90.2  110.9  537.4   6.2  19.5  43   5.8   0.0   0.00
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515  1  4   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

[185 rows x 13 columns]

In [68]:
data.loc[data.month.isnull()]

Empty DataFrame
Columns: [X, Y, month, day, FFMC, DMC, DC, ISI, temp, RH, wind, rain, area]
Index: []

In [69]:
data.loc[data.month.notnull()]

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
0    7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.00
1    7  4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.00
2    7  4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.00
3    8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.00
4    8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.00
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515  1  4   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

[517 rows x 13 columns]

# Creating Data

## DataFrame 
#### pd.DataFrame is used to create data by giving dictionary like input

In [24]:
df = pd.DataFrame({'X':[1,2,3,4,5,6,7,8,9], 
                   'Y':[11,12,13,14,15,16,17,18,19]},
                  index=['a','b','c','d','e','f','g','h','i'],)
df

   X   Y
a  1  11
b  2  12
c  3  13
d  4  14
e  5  15
f  6  16
g  7  17
h  8  18
i  9  19


## Series
#### Series is just like dataframe but contains only one column, DataFrame is bunch of series series dont have column name just have overall name

In [27]:
pd.Series([30, 35, 40], 
          index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64